<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Поздравлятор</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_CongratulationApplication.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="navbar">
                <ul class="navbar_section">
                    <li class="navbar_item"><a class="navbar_hl" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li class="navbar_item"><a class="navbar_hl" asp-area="" asp-controller="People" asp-action="Index">Друзья</a></li>
                    <li class="navbar_item"><a class="navbar_hl" asp-area="" asp-controller="People" asp-action="Create">Добавить</a></li>
                </ul>
                <ul class="navbar_section">
                    <li class="navbar_item"><a class="navbar_hl" asp-area="" asp-controller="Users" asp-action="Settings">Настройки</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
