@model string
@{
    ViewData["Title"] = "Подтверждено";
}

<div class="error_box">
    <div class="error">
        <div class="error_message">
            <div>Ваш адрес электронной почты подтвержден!</div>
            <p>Вернуться на <a asp-controller="Home" asp-action="Index">главную</a></p>
        </div>
    </div>
</div>
