@model MVC_CongratulationApplication.Domain.Entity.User

@{
    ViewData["Title"] = "Настройки";
    string? name = "";
    string email = "";
    string sendingTime = "";
    string activationCode = null;
    bool isAllowSending = true;

    if(Model != null)
    {
        name = Model.Name;
        email = Model.Email;
        sendingTime = Model.SendingTime.ToString("HH:mm");
        isAllowSending = Model.isAllowSending;
        activationCode = Model.ActivationCode; 
    }
}

<div class="mt">
    @if (activationCode != null)
    {
        <form asp-controller="Users" asp-action="SendCode" method="post">
            <div>Ваш адрес электронной почты не подтвержден!</div>
            <label>Отправить письмо для подтверждения</label>
            <input class="button" type="submit" value="Отправить" />
            <span class="text_danger" asp-validation-for="Email"></span>

        </form>
    }
    <form class="form" asp-action="Settings" asp-controller="Users" method="post">
        <div class="form_group">
            <label>Имя</label>
            <input class="form_input" asp-for="Name" type="text" name="Name" value="@name" />
            <span class="text_danger" asp-validation-for="Name"></span>
        </div>
        <div class ="form_group">
            <label>Ваш адрес электронной почты</label>
            <input class="form_input" asp-for="Email" type="email" name="Email" value="@email" />
            <span class="text_danger" asp-validation-for="Email"></span>
        </div>
        <div class="form_group">
            <label>Время отправки напоминаний</label>
            <input class="form_input" asp-for="SendingTime" type="time" name="SendingTime" value="@sendingTime" />
            <span class="text_danger" asp-validation-for="SendingTime"></span>
        </div>
        <div class="form_group">
            <label>
                @if (isAllowSending)
                {
                    <input type="checkbox" name="isAllowSending" value="on" checked />
                }
                else
                {
                    <input type="checkbox" name="isAllowSending" value="on" />
                }
                Разрешить отправлять напоминания
                <input type="hidden" name="isAllowSending" value="false" />
            </label>
        </div>
        <div class="form_group">
            <input class="button button_large" type="submit" value="Сохранить" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
