@model MVC_CongratulationApplication.Domain.Entity.Person

@{
    ViewData["Title"] = "Добавить";
}

<div class="mt">
    <form class="form" asp-action="Create" asp-controller="People" method="post" enctype="multipart/form-data">
        <div class="form_group center">
            <img class="avatar user_avatar" id="avatarHover" src="~/no_image.png" onclick='files.click()' alt="">
        </div>
        <p>
            <input accept="image/*" onchange="loadFile(event)" type="file" name="File" id="files" hidden />
        </p>
        <div class="form_group">
            <label>Имя</label>
            <input class="form_input" asp-for="Name" name="Name" />
            <span asp-validation-for="Name" class="text_danger"></span>
        </div>
        <div class="form_group">
            <label>День рождения</label>
            <input class="form_input" asp-for="Birthday" type="date" name="Birthday" />
            <span asp-validation-for="Birthday" class="text_danger"></span>
        </div>
        <div class="form_group">
            <input class="button button_large" type="submit" value="Добавить" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
