@model MVC_CongratulationApplication.Domain.Entity.Person

@{
    ViewData["Title"] = "Редактировать";
}

<div class="mt">
    <form class="form" asp-action="Edit" asp-controller="People" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
        <div class="form_group center">
            @if(Model.Filename != null){
                <img class="avatar user_avatar" id="avatarHover" src="~/uploads/@Model.Filename" onclick='files.click()' alt="">
            }else{
                <img class="avatar user_avatar" src="~/no_image.png" onclick='files.click()' alt="">
            }
        </div>
        <p>
            <input accept="image/*" onchange="loadFile(event)" type="file" name="File" id="files" hidden />
        </p>
        <div class="form_group">
            <label>Имя</label>
            <input class="form_input" asp-for="Name" name="Name" />
            <span class="text_danger" asp-validation-for="Name"></span>
        </div>
        <div class="form_group">
            <label>День рождения</label>
            <input class="form_input" asp-for="Birthday" type="date" name="Birthday" />
            <span class="text_danger" asp-validation-for="Birthday"></span>
        </div>
        <div class="form_group">
            <input class="button button_large" type="submit" value="Сохранить" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
