* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans Unicode';
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1060px;
    margin: auto;
}

header {
    padding: 0;
    margin: 0;
    background: #1E1E24;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.navbar_section {
    display: flex;
    align-items: center;
}

.navbar_item {
    padding: 10px 0px;
    font-size: 12px;
    line-height: 30px;
    transition: .3s;
}

.navbar_item a {
    color: #F7EBE8;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 15px;
}

.navbar_item:hover {
    background-color: #444140;
    cursor: pointer;
    color: #FFF;
}

.table {
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 0px 15px;
}

table td {
    padding: 12px 16px;
    margin: auto auto;
    text-align: center;
    font-size: 14px;
    max-width: 55px;

}

.table_col_text {
    color: #524f4e;
    font-weight: 600;
}

.avatar {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}


.button {
    display: inline-block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    margin: 7px 15px;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    color: #524f4e;
    background: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    text-decoration: none;
}

.button:hover {
    background: #FFA987;
    color: white;
    cursor: pointer;
}

.button_large {
    width: 120px;
    height: 35px;
    margin: 7px 15px 7px 0;
}

.mt {
    margin-top: 50px;
}

.title{
    padding: 0 15px;
}

.form {
    max-width: 1100px;
    width: 100%;
    font-size: 16px;
    position: absolute;
    transition: .5s;
    padding: 0px 15px;
}

.form_group{
    margin: 15px 0;
}

.form_input {
    width: 100%;
    padding: 10px;
    border: solid 1px #c9bdbd;
    font-size: 14px;
}

.text_danger {
    color: #e04f4f;
    font-size: 12px;
}

.user_avatar {
    height: 300px;
    width: 300px;
}

.user_avatar:hover {
    background: url('/img/no_image.png');
    cursor: pointer;
    opacity: 0.6;
}

.error_box {
    height: 100vh;
    display: grid;
}

.error {
    margin: auto;
}

.error_number{
    text-align: center;
    font-size: 100px;
}


.error_message {
    text-align: center;
    font-size: 32px;
}

.error_message a {
    text-decoration: none;
}

.error_message a:hover {
    text-decoration: underline;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    align-items: center;
}
@media (max-width: 600px) {

    .navbar_item {
        font-size: 10px;
    }

    .table {
        max-width: 600px;
        width: 100%;
        margin: auto;
        font-size: 12px;
    }


    table td {
        padding: 12px 5px;
        margin: auto auto;
        text-align: center;
    }

    .avatar {
        height: 75px;
        width: 75px;
    }

    .user_avatar {
        height: 150px;
        width: 150px;
    }

    .button {
        width: 75px;
        height: 25px;
        margin: 7px 10px;
        font-size: 8px;
    }

    .button_large {
        width: 120px;
        height: 35px;
        margin: 7px 15px 7px 0;
    }
}




